.MessengerTitle {
    border-radius: 10px 10px 0 0;
    background-color: #c8c8ff;
    color: #888;
    line-height: 40px;
    padding: 0 10px;
    text-transform: uppercase;
    text-align: center;
}