.MessageList {
    margin: 0;
    padding: 10px 10px 15px 10px;
    list-style: none;
    background-color: #f0f0ff;
    overflow-y: auto;
    height: calc(100% - 81px); /* TODO: why "80px + 1px" ? */
}