.TicketCloud {
    background-color: #c8c8ff;
    padding: 0 10px;
    line-height: 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 14px;
}
    .TicketCloud:hover {
        background-color: #d8d8ff;
    }